/**************************************
         LAYOUT COLUMNS 
***************************************/


/*
   examples of css things considered column styles
   remove and insert your own scss code
*/




/* Floated Columns ------------------ */
.column-one {
    width: 45%;
    height: 300px;
    background-color: #efb75d;
     float: right;
}

.column-two {
  width: 45%; 
  height: 300px;
  background-color: #edd0a6;

  
}