/**************************************
         LAYOUT COLUMNS 
***************************************/


/*
   examples of css things considered column styles
   remove and insert your own scss code
*/




/* Floated Columns ------------------ */
.column-one {
    width: 50%;
    background-color: #efb8b8;
}

.column-two {
  width: 50%; 
  background-color: #c2dfef;
  float: right;
}