/**************************************
        MAIN FOOTER STYLES
***************************************/


/*
   examples of css things considered main footer styles
   remove and insert your own scss code
*/





.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949; }