/**************************************
        MAIN HEADER STYLES
***************************************/


/*
   examples of css things considered main header styles
   remove and insert your own scss code
*/



.main-header {
  padding-top: 170px;
  height: 820px;
  background: linear-gradient(#ffa949, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url("../img/mountains.jpg") no-repeat center;
  background-size: cover; }

