/**************************************
           BUTTONS
***************************************/


/*
   examples of css things considered buttons
   remove and insert your own scss code
*/


.exampleButton { 
  font-size: 1.25em;
  border: 2px orange solid;
  border-radius: 5px;
  padding: 0 9px 3px;
  background-color: white;
}