/**************************************
           BUTTONS
***************************************/


/*
   examples of css things considered buttons
   remove and insert your own scss code
*/



.exampleButton { 
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  background-color: orange;